.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: #E8DFCA;

    &.dark {
        background-color: #6e356e;
    }

    .left {
        margin-right: auto;
        display: flex;
        justify-content: space-between;

        .button {
            margin-right: 5px;
        }
    }

    .right {
        margin-left: auto;
    }
}