.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;

    @media screen and (max-width: 800px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 600px) {
        grid-template-columns: repeat(1, 1fr);
    }

    .card {
        cursor: pointer;
    }
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;

    &.dark {
        color: #ffffff;
    }
}